*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("1155149.jpg") no-repeat;
    background-position: center;
}

.Jokerge {
    width: 300px;
    background-color: transparent;
    box-shadow: 0, 0, 10px rgb(0, 0, 0, .2);
    color: white;
    text-align: center;
    border-radius: 15px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
    border: 2px solid rgb(255, 255, 255, .2);
}

.Jokerge h1 {
    margin-bottom: 15px;
    font-weight: 1000;
}

.Jokerge .input-box {
    width: 100%;
    height: 50px;
    position: relative;
    margin: 0 0 15px 0;
}

.input-box input {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    padding-left: 15px;
    color: white !important;

}

.input-box input::placeholder {
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.Jokerge .btn {
    width: 100%;
    height: 35px;
    border-radius: 15px;
    outline: none;
    border: none;
}

.Jokerge .register {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 210px;
}

.register a {
    font-size: 17px;
    color: white;
}