<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/generator.css">
     <!-- <link rel="stylesheet" href="/codes/RandomPasswordsGin/static/generator.css"> -->
    <title>{{ .WebSiteNaming }}</title>
</head>
<body>
    <div class="container">
        <h1>Password Generator</h1>
        <form action="/generatePassword" method="POST">
            <div class="input-group">
                <label for="pwLen">Password Length:</label>
                <input type="number" min="1" max="255" value="{{ .UserEnteredLength }}" name="pwLen" required>
                
                <div class="checkboxes">
                    <label>
                        <input type="checkbox" id="UpperLatin" name="UpperLatin" value="true" {{ if .TypeCheck.Upper }} checked {{ end }}>
                        Upper Latin Letters
                    </label>
                    <label>
                        <input type="checkbox" id="LowerLatin" name="LowerLatin" value="true" {{ if .TypeCheck.Lower }} checked {{ end }}>
                        Lower Latin Letters
                    </label>
                    <label>
                        <input type="checkbox" id="Digits" name="Digits" value="true" {{ if .TypeCheck.Digit }} checked {{ end }}>
                        Digits
                    </label>
                    <label>
                        <input type="checkbox" id="Special" name="Special" value="true" {{ if .TypeCheck.Special }} checked {{ end }}>
                        Special Symbols
                    </label>
                </div>
            </div>
            
            {{ if .atLeastOneType }}
                <div></div>
            {{ end }}

            <button type="submit" class="button-to-submit">Generate Password</button>
        </form>

        {{ if .GeneratedPassword }}
            <div class="password" id="password">{{ .StringPassword }}</div>
            <div class="pass-info" id="info">Password's entropy is {{ .GeneratedPassword.EntropyOfPassword }}</div>
            
            {{ if lt .GeneratedPassword.EntropyOfPassword 80.0 }}
            <div class="pass-info" id="info">Try to increase the length of the password or include other types</div>
            <a href="https://en.wikipedia.org/wiki/Password_strength">What is Password Entropy?</a>
            {{ end }}
        {{ end }}

        <button class="copy-btn">Copy to Clipboard</button>
    </div>
</body>
</html>